@model Produto
<form asp-action="Alterar" method="post">
    <fieldset>
        <legend>Alterar Produto</legend>
        <input type="hidden" asp-for="ProdutoId" />
        <div class="form-group">
            <label>Id:</label>
            <input type="text" asp-for="ProdutoId"
                   readonly="" class="form-control" />
        </div>
        <div class="form-group" id="Nome">
            <label>Nome:</label>
            <input type="text" asp-for="Nome"
                   class="form-control" />
        </div>
        <div class="form-group" id="Descricao">
            <label>Descrição:</label>
            <input type="text" asp-for="Descricao"
                   class="form-control" />
        </div>
        <div class="form-group" id="Preco">
            <label>Preço:</label>
            <input type="text" asp-for="Preco"
                   class="form-control" />
        </div>
        <div class="form-group" id="Quantidade">
            <label>Quantidade:</label>
            <input type="text" asp-for="Quantidade"
                   class="form-control" />
        </div>
        <input type="submit" class="btn btn-success"
               value="Salvar" />
    </fieldset>
</form>
